<a href="https://colab.research.google.com/github/vishal00880/summer-git/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy
type(numpy.arange(7))

numpy.ndarray

In [6]:
import numpy as np
arr1 = np.arange(5)
arr1

array([0, 1, 2, 3, 4])

In [9]:
np.ndarray(3)

array([0. , 0.5, 1. ])

In [10]:
np.array([1,2,3])

array([1, 2, 3])

In [11]:
arr1=np.array([1,2,3])
arr1.size

3

In [16]:
arr1=np.array([ [1,2],[2,3],[5,6]])
print (arr1.size)
print(arr1.shape)
print(arr1.dtype)

6
(3, 2)
int64

In [13]:
arr2=np.arange(3)
print(arr2.shape)

(3,)

In [22]:
import numpy as np
a=np.array([[1,2],[3,4]])
print(a)

[[1 2]
 [3 4]]

In [23]:
b=a.transpose()
print(b)

[[1 3]
 [2 4]]

In [24]:
import numpy as np
a=np.array([[1,2,3],[3,4,6]])
print(a)

[[1 2 3]
 [3 4 6]]

In [25]:
b=a.transpose()
print(b)

[[1 3]
 [2 4]
 [3 6]]

In [26]:
arr=np.array([1,0,2])
arr.ndim

1

In [27]:
arr=np.array([[1,2],[2,3],[4,5]])
arr.ndim

2

In [28]:
import pandas
pandas.Series([10,2,34,4])

0    10
1     2
2    34
3     4
dtype: int64

In [30]:
import pandas
series1 =pandas.Series([10,2,34,4])
series1.values

array([10,  2, 34,  4])

In [32]:
series1.index

RangeIndex(start=0, stop=4, step=1)

In [33]:
import pandas
series1 =pandas.Series([10,2,34,4])
series1[0]=90
series1[5]=1000
series1

0      90
1       2
2      34
3       4
5    1000
dtype: int64

In [35]:
import pandas
series1 =pandas.Series([10,2,34,4])
series1[0]=90
series1[5]=1000
series1.max()

1000

In [37]:
import pandas
series1 =pandas.Series([10,2,34,4])
series1[0]=90
series1[5]=1000
print(series1.idxmin())

1

In [45]:
import pandas as pd
import numpy as np
arr1=np.array([10,13,15,13,10,13])
series1=pd.Series(arr1)
series1.value_counts(ascending=True)

15    1
10    2
13    3
Name: count, dtype: int64

In [47]:
arr1=np.array([10,13,15])
series1=pd.Series(arr1)
series1.is_unique # do we unique value or not

True

In [48]:
series1.nunique() # total unique element

3

In [49]:
arr1=np.array([100,13,15,10,90,15])
series1=pd.Series(arr1)
series1.drop_duplicates()

0    100
1     13
2     15
3     10
4     90
dtype: int64

In [51]:
arr1=np.array([100,13,15,10,90,15])
series1=pd.Series(arr1)
series1.drop_duplicates(inplace=True)
series1

0    100
1     13
2     15
3     10
4     90
dtype: int64

In [57]:
dictionary1={10:"abc",12:"def"}
pd.Series(dictionary1)

10    abc
12    def
dtype: object

In [59]:
data=[[10,12,13],[13,14,15]]
pd.DataFrame(data)

    0   1   2
0  10  12  13
1  13  14  15

In [67]:
data=[[10,12,13],[13,14,15]]
pd.DataFrame(data,columns=["Product1","Product2","Product3"])

   Product1  Product2  Product3
0        10        12        13
1        13        14        15

In [63]:
type( df["Product1"])

pandas.core.series.Series